{% extends 'base.html.twig' %}

{% block title %}Hello AdminPostController!{% endblock %}

{% block body %}
    <div class="content page-content p-3 bg-white rounded my-shadow">
        <h1> Create Post </h1>
        <hr>
        {{form_start(form)}}
        {{form_rest(form)}}
        <button class="btn my-btn-primary"> Create </button>
        {{form_end(form)}}

        {# ou utiliser form_row(form.title) #}

    </div>
{% endblock %}