{% extends 'base.html.twig' %}

{% block title %}Hello AdminPostController!{% endblock %}

{% block body %}

<div class="container mt-4">
    <h2> Edit Post </h2>
    <hr>

    {{form_start(form)}}
    {{form_rest(form)}}
    <button class="btn btn-warning"> Save </button>
    {{form_end(form)}}

    {# ou utiliser form_row(form.title) #}


</div>
{% endblock %}