{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div id="test" class="content d-flex justify-content-center">
        <div class="login-card border rounded px-4 py-3 my-shadow">
            <div class="login-logo d-flex justify-content-center">
                <img src="{{ asset('images/logo/logo.png') }}">
            </div>
            {% block fos_user_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
